.places__like {
  width: 22px;
  height: 19px;
  background-image: url("../../../images/button__like.svg");
  background-position: center;
  background-size: 22px 19px;
  background-repeat: no-repeat;
}

.places__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
