.profile__edit {
  background-image: url("../../../images/button__edit.svg");
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
  align-self: center;
  border: none;
}

@media screen and (max-width: 670px) {
  .profile__edit {
    width: 18px;
    height: 18px;
  }
}
