.places__delete {
  width: 18px;
  height: 19px;
  background-image: url("../../../images/button__delete.svg");
  background-position: center;
  background-size: 18px 19px;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
}

.places__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}

.places__delete:disabled {
  visibility: hidden;
}
