.header__logo {
  width: 142px;
  height: 33px;
  background-image: url("../../../images/logo.svg");
  background-position: center;
  background-size: cover;
}

.header__logo:hover {
  opacity: 0.6;
}

@media screen and (max-width: 670px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
  }
}
