.header {
  min-height: 74px;
  margin-top: 45px;
  border-bottom: 2px gray solid;
  display: flex;
}

@media screen and (max-width: 670px) {
  .header {
    min-height: 56px;
    margin-top: 28px;
  }
}
