.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  position: relative;
  max-width: calc(100% - 360px);
}

@media screen and (max-width: 670px) {
  .profile__info {
    align-items: center;
    margin-left: 0;
    margin-top: 26px;
    margin-bottom: 33px;
    max-width: 282px;
  }
}
