.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 7px 20px;
  margin-left: 30px;
  max-width: calc(100% - 360px);
}

@media screen and (max-width: 670px) {
  .profile__info {
    margin-top: 26px;
    margin-bottom: 33px;
    margin-left: 29px;
    max-width: 282px;
    justify-items: center;
    grid-template-columns: 1fr 18px;
    gap: 10px 7px;
  }
}
